@use './_variables.scss' as *;

@mixin dashboard-section($variant: 'big') {
	background-color: $bg-block;
	border-radius: $radius;

	@if $variant == 'small' {
		padding: 18px 26px;
	} @else {
		padding: 20px 25px;
	}
}

@mixin card_info {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

@mixin flex-horizontal-center {
	display: flex;
	align-items: center;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin transition($property: all) {
	transition: #{$property} 0.3s ease-in-out;
}
