@use './variables' as *;
@use './reset';
@use './keyframes';

input,
button,
body {
	font-family: $font;
	font-size: 17px;
}

body {
	background-color: #212527;
	color: $white;
	font-size: 17px;
	line-height: 1.6;
}

input {
	font-size: 16px;
	background-color: transparent;
	color: $white;
}

.heading {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 1rem;
}

a {
	cursor: pointer;
	color: $white;
	text-decoration: none;
	transition: border-color 0.3s ease-in-out;
	border-bottom: 1px solid transparent;
	animation: drawing 0.4s;
	user-select: none;

	&:hover {
		border-color: $primary;
	}
}

input[type='number'] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
