@use 'sass:color';
@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.field {
	@include transition(border-color);
	background-color: $gray;
	border-radius: $radius;
	border: 1px solid transparent;
	padding: 12px 20px;
	width: 100%;
	display: block;
	> input {
		width: 100%;
		&::placeholder {
			user-select: none;
		}
	}

	&:focus-within {
		border-color: rgba($primary, 0.5);
	}
}
